.destaques__principal{
  background: url(../../img/fortnite.jpg)  center /cover no-repeat ;
  grid-column:1/4;
  grid-row:1/3;
}
@media screen and (max-width:600px) {
  .destaques__principal{
    grid-column:1/5
  }
}